/*sidebar styling*/
#filterText {
	font-size: 20px;
}
/* styling section cards*/
.card-title {
	font-size: 18px;
}
.list-group-item {
	line-height: 6px;
}
.cardImages {
	height: 150px;
}
#sectionCardDiv {
	min-height: 625px;
}

/* hides no sections registered message*/
#noSectionMsg {
	display: none;
}
