/* styling section cards*/
.card-title {
	font-size: 18px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}
