.montserratFont {
	font-family: "Montserrat", sans-serif;
}

.arialFont {
	font-family: arial, sans-serif;
}


.fab {
	color: white;
}

.fab:hover {
	color: #7c878e;
}

#followSoc {
	font-size: 30px;
}
